@import '../../styles/colors.scss';

.Milestone {
  .timeline {
    max-width: 1200px;
    &:before {
      left: calc(33% + 10px);
      @media (max-width: 1200px) {
        left: calc(33% + 6px);
      }
      @media (max-width: 768px) {
        left: calc(1% + 5px);
      }
    }
  }
  p {
    margin-bottom: 1rem;
  }
}
