@import "../../styles/main.scss";

.Milestone {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    font-size: 1.8rem;
    @media (max-width: 800px) {
      
    }
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .writings {
      flex: 2;
      p {
        text-align: justify;
      }
    }
    .image {
      flex: 1;
      object-fit: cover;
      display: flex;
      justify-content: end;
      img {
        width: 100%;
        height: auto;
      }
    }
    @media (max-width: 525px) {
      flex-direction: column;
    }
  }
}
