.Contact {
  display: block;

  .contact-us {
    padding: 8rem;
    background-color: #f9f9fb;
  }

  @media only screen and (max-width: 75em) {
    .contact-us {
      padding: 8rem 4rem;
    }
  }

  @media only screen and (max-width: 37.5em) {
    .contact-us {
      padding: 4rem 2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    @media only screen and (max-width: 37.5em) {
      display: block;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }

    .left {
      .inner-content-box {
        .contact-link {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 2rem;
          .contact-icons {
            font-size: 2rem;
            color: black;
          }
        }
      }
      .heading-secondary {
        font-weight: 700;
        color: #000;
        font-size: 2.4rem;
      }
      .paragraph {
        line-height: 2;
        color: #656565;
      }

      .img-box {
        width: 100%;
        @media only screen and (max-width: 75em) {
          width: 60%;
        }

        @media only screen and (max-width: 56.25em) {
          width: 80%;
        }

        @media only screen and (max-width: 37.5em) {
          width: 100%;
        }
      }

      .img {
        width: 100%;
        display: block;
      }
      @media only screen and (max-width: 75em) {
        // display: flex;
        .inner-content-box {
          flex: 1;
          margin: 1rem;
        }
      }
      @media only screen and (max-width: 900px) {
        display: block;
        .inner-content-box {
          flex: 1;
          margin: 1rem;
        }
      }
    }

    .right {
      padding: 4rem;
      background-color: #f9f9fb;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      flex: 0 0 55%;
      .form {
        .col {
          display: flex;
          gap: 2rem;
          align-items: center;
          width: 100%;
          @media only screen and (max-width: 37.5em) {
            flex-wrap: wrap;
          }
          .group {
            width: 100%;
            .label {
              display: block;
              font-size: 1.6rem;
              font-weight: 700;
              color: #000;
              font-family: inherit;
              margin-bottom: 1rem;
            }
            .input,
            .textarea {
              display: block;
              padding: 1.5rem 2rem;
              border: 2px solid #e5e5e5;
              border-radius: 8px;
              font-size: inherit;
              font-weight: 300;
              font-family: inherit;
              transition: all 0.4s;
              background-color: rgba(255, 255, 255, 0.5);
            }
            .input {
              width: 100%;
            }
            .textarea {
              width: 100%;
            }

            .input:focus,
            .textarea:focus {
              outline-color: #007a69;
            }
            .input:invalid,
            .textarea:invalid {
              outline-color: #18C9C5;
            }
            .textarea {
              height: 24rem;
              resize: vertical;
            }
          }
        }
      }
      @media only screen and (max-width: 75em) {
        flex: 0 0 100%;
        padding: 3rem;
      }
      @media only screen and (max-width: 37.5em) {
        flex: 0 0 80%;
      }
      .btn {
        font-weight: 300;
        padding: 1rem 2rem;
        border: none;
        border-radius: 8px;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
        display: inline-block;
        transition: all 0.4s;
      }
      .btn:link,
      .btn:visited {
        font-weight: 300;
        padding: 1rem 2rem;
        border-radius: 8px;
        text-decoration: none;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
        display: inline-block;
        transition: all 0.4s;
      }
      @media (hover: hover) {
        .btn:hover {
          transform: translateY(-4px);
          box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.2);
        }
      }
      .btn:active {
        transform: translateY(1px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      }
      .btn--green {
        color: #fff;
        background-color: #007a69;
        // border: 1px solid #007a69;
      }
    }

    @media only screen and (max-width: 75em) {
      flex-wrap: wrap;
      gap: 4rem;
    }
  }
}
