@import "../../styles/colors.scss";
.Home {
  display: block;
  .header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.5rem;
    color: $dark-blue;
  }
  .subheader {
    text-align: center;
    font-size: 1.5rem;
    color: $dark-blue;
  }
  .btn-div {
    display: flex;
    justify-content: center;
    button {
      all: unset;
      margin: 1rem;
      padding: 0.5rem 1rem;
      border: 1px solid #222;
      background: white;
      color: black;
      cursor: pointer;
      --c: #549ef2;
      color: var(--c);
      font-size: 16px;
      border: 0.3rem solid var(--c);
      border-radius: 0.5em;
      width: 10rem;
      height: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: sans-serif;
      letter-spacing: 0.1em;
      text-align: center;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: 0.3s;
      margin: 1em;
      &:hover {
        color: black;
        transition: 0.3s;
        background-color: #77b3f7;
        border: 0.3rem solid #77b3f7;
      }
    }
  }
  .hero {
    width: 100%;
    height: 100vh;
    --swiper-pagination-color: #18c9c5;
    --swiper-navigation-color: #18c9c5;
    --swiper-pagination-bullet-inactive-color: #fff;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
      }
      .slide-text {
        position: absolute;
        width: 80%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // text-align: center;
        .title {
          font-size: 4rem;
        }
        .tag {
          font-size: 1.5rem;
        }
        @media (max-width: 768px) {
          .title {
            font-size: 2.5rem;
          }
          .tag {
            font-size: 1rem;
          }
        }
        .link {
          all: unset;
          margin: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          color: black;
          padding: 0.5rem 1rem;
          gap: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .service {
    width: 90%;
    height: 50vh;
    padding-bottom: 4rem;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      .Card {
        all: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        img {
          width: 100px;
          margin: 0.5rem;
        }
        p {
          color: #000;
          margin: 0.5rem;
        }
        h2 {
          margin: 0.5rem;
        }
        .explore-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem;
        }
        .explore-btn a {
          gap: 0.5rem;
          width: 6rem;
          padding: 0.5rem 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: bolder;
          border-radius: 4px;
          text-decoration: none;
          &:hover i {
            margin-left: 5px;
            transition: 0.18s all ease;
          }
        }

        transition: transform 0.5s;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.15);
          content: "";
          opacity: 0;
          z-index: -1;
        }

        &:hover,
        &:focus {
          transform: scale3d(1.006, 1.006, 1);

          &::after {
            opacity: 1;
          }
        }
      }
      .border-top-black {
        border-top: 4px solid #222;
        color: #222;
      }
      .border-top-yellow {
        border-top: 4px solid #fcaf4a;
        color: #fcaf4a;
      }
      .border-top-green {
        border-top: 4px solid #24ee92;
        color: #24ee92;
      }
      .border-top-blue {
        border-top: 4px solid #549ef2;
        color: #549ef2;
      }
      .black {
        background-color: #222;
      }
      .yellow {
        background-color: #fcaf4a;
      }
      .green {
        background-color: #24ee92;
      }
      .blue {
        background-color: #549ef2;
      }

      @media (max-width: 768px) {
        .card {
          width: 100%;
          margin: 25px 0;
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .impact {
    width: 90%;
    height: 50vh;
    padding-bottom: 4rem;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
      background-color: #fff;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
        transform: scale(1.1, 1.1);
        cursor: pointer;
      }
      .card {
        all: unset;
      }

      .card__img {
        visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 235px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .card__info-hover {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
      }

      .card__img--hover {
        transition: 0.2s all ease-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 235px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        left: 0;
        top: 0;
      }

      .card__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
      }

      .card__category {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #868686;
      }

      .card__title {
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .card__by {
        font-size: 12px;
        font-weight: 500;
      }

      .card__author {
        font-weight: 600;
        text-decoration: none;
        color: #0041a1;
      }

      .card:hover .card__img--hover {
        height: 100%;
        opacity: 0.3;
      }

      .card:hover .card__info {
        background-color: transparent;
        position: relative;
      }

      .card:hover .card__info-hover {
        opacity: 1;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .MV {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      width: 90%;
      .left {
        margin: 1rem;
        display: flex;
        // align-items: center;
        justify-content: start;
        flex: 1;
        .box {
          border-radius: 0 10px 10px 10px;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }
        .left-triangle {
          height: 0px;
          width: 0px;
          border-top: 15px solid #fff;
          border-right: 15px solid #fff;
          border-bottom: 15px solid transparent;
          border-left: 15px solid transparent;
          z-index: 10;
        }
      }
      .right {
        margin: 1rem;
        display: flex;
        justify-content: end;
        flex: 1;
        .box {
          border-radius: 10px 0px 10px 10px;
          box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }
        .right-triangle {
          height: 0px;
          width: 0px;
          border-top: 15px solid #fff;
          border-left: 15px solid #fff;
          border-right: 15px solid transparent;
          border-bottom: 15px solid transparent;
          z-index: 10;
        }
      }
      .box {
        background-color: white;
        width: 50%;
        height: auto;
        padding: 2rem;
        h2 {
          text-align: center;
          text-decoration: dashed;
          margin-bottom: 1rem;
        }
        p {
          text-align: justify;
        }
        @media (max-width: 1024px) {
          width: 60%;
        }
        @media (max-width: 768px) {
          width: 80%;
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
