@import "../../styles/main.scss";

.Home {
  display: block;
  .header {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 0.5rem;
    color: $dark-blue;
    background-color: #efefef;
  }
  .subheader {
    margin-left: 8rem;
    font-size: 2rem;
    color: $dark-blue;
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  .btn-div {
    display: flex;
    justify-content: center;
    button {
      all: unset;
      margin: 1rem;
      padding: 0.5rem 1rem;
      border: 1px solid #222;
      background: white;
      color: black;
      cursor: pointer;
      --c: #549ef2;
      color: var(--c);
      font-size: 16px;
      border: 0.3rem solid var(--c);
      border-radius: 0.5em;
      width: 10rem;
      height: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: sans-serif;
      letter-spacing: 0.1em;
      text-align: center;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: 0.3s;
      margin: 1em;
      &:hover {
        color: black;
        transition: 0.3s;
        background-color: #77b3f7;
        border: 0.3rem solid #77b3f7;
      }
    }
  }
  .hero {
    width: 100%;
    height: 100vh;
    --swiper-pagination-color: #18c9c5;
    --swiper-navigation-color: #18c9c5;
    --swiper-pagination-bullet-inactive-color: #fff;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
      }
      .slide-text {
        position: absolute;
        width: 80%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // text-align: center;
        .title {
          font-size: 4rem;
        }
        .tag {
          font-size: 1.5rem;
        }
        @media (max-width: 768px) {
          .title {
            font-size: 2.5rem;
          }
          .tag {
            font-size: 1rem;
          }
        }
        .link {
          all: unset;
          margin: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          color: black;
          padding: 0.5rem 1rem;
          gap: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .service {
    width: 90%;
    height: 50vh;
    padding-bottom: 4rem;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      .Card {
        all: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        img {
          width: 100px;
          margin: 0.5rem;
        }
        p {
          color: #000;
          margin: 0.5rem;
        }
        h2 {
          margin: 0.5rem;
        }
        .explore-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem;
        }
        .explore-btn a {
          gap: 0.5rem;
          width: 6rem;
          padding: 0.5rem 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: bolder;
          border-radius: 4px;
          text-decoration: none;
          &:hover i {
            margin-left: 5px;
            transition: 0.18s all ease;
          }
        }

        transition: transform 0.5s;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.15);
          content: "";
          opacity: 0;
          z-index: -1;
        }

        &:hover,
        &:focus {
          transform: scale3d(1.006, 1.006, 1);

          &::after {
            opacity: 1;
          }
        }
      }
      .border-top-black {
        border-top: 4px solid #222;
        color: #222;
      }
      .border-top-yellow {
        border-top: 4px solid #fcaf4a;
        color: #fcaf4a;
      }
      .border-top-green {
        border-top: 4px solid #24ee92;
        color: #24ee92;
      }
      .border-top-blue {
        border-top: 4px solid #549ef2;
        color: #549ef2;
      }
      .black {
        background-color: #222;
      }
      .yellow {
        background-color: #fcaf4a;
      }
      .green {
        background-color: #24ee92;
      }
      .blue {
        background-color: #549ef2;
      }
    }
    @media (max-width: 768px) {
      height: 65vh;
      .swiper-slide {
        .card {
          width: 100%;
          margin: 25px 0;
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .impact {
    width: 90%;
    height: 50vh;
    padding-bottom: 4rem;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
      background-color: #fff;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
        transform: scale(1.1, 1.1);
        cursor: pointer;
      }
      .card {
        all: unset;
      }

      .card__img {
        visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 235px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .card__info-hover {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
      }

      .card__img--hover {
        transition: 0.2s all ease-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 235px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        left: 0;
        top: 0;
      }

      .card__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
      }

      .card__category {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #868686;
      }

      .card__title {
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .card__by {
        font-size: 12px;
        font-weight: 500;
      }

      .card__author {
        font-weight: 600;
        text-decoration: none;
        color: #0041a1;
      }

      .card:hover .card__img--hover {
        height: 100%;
        opacity: 0.3;
      }

      .card:hover .card__info {
        background-color: transparent;
        position: relative;
      }

      .card:hover .card__info-hover {
        opacity: 1;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 640px) {
      height: 65vh;
    }
  }
  .Facts {
    $imageIds: "1", "2", "3", "4";

    $bp-sm: 350px;
    $bp-md: 600px;
    $bp-lg: 1000px;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);

    .page-content {
      display: grid;
      grid-gap: 1rem;
      padding: 1rem;
      // max-width: 1024px;
      width: 90%;
      padding-bottom: 6rem;
      margin: 0 auto;
      font-family: var(--font-sans);

      @media (min-width: $bp-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $bp-lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .card {
      position: relative;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      padding: 1rem;
      width: 100%;
      height: 100%;
      text-align: center;
      color: whitesmoke;
      background-color: whitesmoke;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);

      @media (min-width: $bp-sm) {
        height: 350px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0) 0%,
          hsla(0, 0%, 0%, 0.009) 11.7%,
          hsla(0, 0%, 0%, 0.034) 22.1%,
          hsla(0, 0%, 0%, 0.072) 31.2%,
          hsla(0, 0%, 0%, 0.123) 39.4%,
          hsla(0, 0%, 0%, 0.182) 46.6%,
          hsla(0, 0%, 0%, 0.249) 53.1%,
          hsla(0, 0%, 0%, 0.32) 58.9%,
          hsla(0, 0%, 0%, 0.394) 64.3%,
          hsla(0, 0%, 0%, 0.468) 69.3%,
          hsla(0, 0%, 0%, 0.54) 74.1%,
          hsla(0, 0%, 0%, 0.607) 78.8%,
          hsla(0, 0%, 0%, 0.668) 83.6%,
          hsla(0, 0%, 0%, 0.721) 88.7%,
          hsla(0, 0%, 0%, 0.762) 94.1%,
          hsla(0, 0%, 0%, 0.79) 100%
        );
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
      }

      @each $id in $imageIds {
        $i: index($imageIds, $id);

        &:nth-child(#{$i}):before {
          background-image: url("/facts#{$id}.jpg");
        }
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 1rem;
      transition: transform var(--d) var(--e);
      z-index: 1;

      > * + * {
        margin-top: 1rem;
      }
    }

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.2;
    }

    .copy {
      font-size: 1.4rem;
      font-style: italic;
      line-height: 1.35;
    }

    .btn {
      cursor: pointer;
      margin-top: 1.5rem;
      padding: 0.75rem 1.5rem;
      font-size: 0.65rem;
      font-weight: bold;
      letter-spacing: 0.025rem;
      text-transform: uppercase;
      color: white;
      background-color: black;
      border: none;

      &:hover {
        background-color: lighten(black, 5%);
      }

      &:focus {
        outline: 1px dashed yellow;
        outline-offset: 3px;
      }
    }

    @media (hover: hover) and (min-width: $bp-md) {
      .card:after {
        transform: translateY(0);
      }

      .content {
        transform: translateY(calc(100% - 4.5rem));

        > *:not(.title) {
          opacity: 0;
          transform: translateY(1rem);
          transition: transform var(--d) var(--e), opacity var(--d) var(--e);
        }
      }

      .card:hover,
      .card:focus-within {
        align-items: center;

        &:before {
          transform: translateY(-4%);
        }
        &:after {
          transform: translateY(-50%);
        }

        .content {
          transform: translateY(0);

          > *:not(.title) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: calc(var(--d) / 8);
          }
        }
      }

      .card:focus-within {
        &:before,
        &:after,
        .content,
        .content > *:not(.title) {
          transition-duration: 0s;
        }
      }
    }
  }
}
