.Navbar {
  width: 100%;
  position: fixed;
  z-index: 15;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #007a69;
  .more-sections {
    width: 10vw;
    height: 35vh;
    position: absolute;
    background-color: #fffc;
    backdrop-filter: blur(5px);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem;
    @media (max-width: 1000px) {
      position: relative;
    }
    .b {
      color: black;
      text-decoration: none;
      transition: 0.3s;
      font-size: 1.5rem;

      &:hover {
        transition: 0.3s;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        
      }
      &:active {
        transform: translate(-3px, 3px);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .navbar-div {
    padding: 0.5rem 1rem;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .logo {
      all: unset;
      color: white;
      flex: 1;
      display: flex;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      flex: 3;
    }

    .link {
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    }

    .a {
      font-size: 2rem;
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      display: block;
      position: relative;
      padding: 0.2em 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: #fff;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
      }
      
      &:hover::after,
      &:focus::after{
        transform: scale(1);
      }
    }

    @media (max-width: 1200px) {
      .a {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
      }
    }
    @media (max-width: 1100px) {
      .more-sections {
        width: auto;
      }
      .links {
        display: none;
      }
      .auth {
        display: none;
      }

      .hamburger {
        display: block;
        cursor: pointer;
        width: 2rem;
        height: 2.3rem;
        position: relative;
        z-index: 2000;
      }

      .line {
        width: 100%;
        height: 0.3rem;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.2s;
        border-radius: 2px;
      }

      .line:nth-child(1) {
        transform: translateY(-185%) rotate(0);
      }

      .line:nth-child(2) {
        opacity: 1;
      }

      .line:nth-child(3) {
        transform: translateY(85%) rotate(0);
      }

      .open.line:nth-child(1) {
        transform: translateY(-50%) rotate(45deg);
      }

      .open.line:nth-child(2) {
        opacity: 0;
      }

      .open.line:nth-child(3) {
        transform: translateY(-50%) rotate(-45deg);
      }

      .open.links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        // left: 0;
        width: 90%;
        padding: 2rem 0;
        background-color: #fffd;
        // -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0 0.5rem 1;
        border-radius: 10px;
      }

      .open.links li {
        margin: 1rem 0;
        .a {
          color: black;
        }
      }

      .open.links {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
// .scrolled {
//   background: #007a69;
// }
