@import "../../styles/main.scss";

.Footer {
  padding: 4rem;
  margin-top: 2rem;

  @include viewport(phone) {
    padding: 2rem;
  }

  color: $color-white;
  background-color: $color-primary;

  .row-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

    @include viewport(tab-port) {
      justify-content: space-between;
    }

    @media only screen and (max-width: 50em) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .box {
    @media only screen and (max-width: 50em) {
      flex-basis: 45%;
    }
  }

  .row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid currentColor;
    padding-top: 2rem;

    flex-wrap: wrap;

    @media only screen and (max-width: 27.5em) {
      justify-content: center;
      gap: 2rem;
    }
  }

  .social-link {
    padding: 0.5rem 1rem;
    &:link,
    &:visited {
      text-decoration: none;
      color: currentColor;
    }
    .icon-link {
      width: 4rem;
      height: 4rem;
    
      @media (hover: hover) {
        &:hover {
          //ANIMATION USAGE
          animation: rotate 2s ease;
        }
      }
    }
  }

  .row-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 2rem;
  }

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: inherit;
    display: block;
    margin-bottom: 2rem;
  }

  .list {
    list-style: none;
  }

  .item {
    display: block;
    margin: 1rem 0;
  }

  .link {
    &:link,
    &:visited {
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      font-size: 1.5rem;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .dropdown {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.4rem;
    color: $color-white;
    width: 24rem;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid currentColor;
    background-color: transparent;
    outline-color: currentColor;
    cursor: pointer;

    @media only screen and (max-width: 50em) {
      width: 100%;
    }
  }

  .dropdown-item {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.4rem;
    color: $color-white;
    background-color: $color-primary;
    margin: 1rem 0;
  }
  .icon {
    font-size: 2rem;
  }
}
.row-3 {
  padding: 1rem;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  gap: 2rem;
}


