@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #efefef;
}

.header-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(30%);
}

.header-text {
  position: absolute;
  top: 15%;
  font-size: 3rem;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 535px) {
  .header-text {
    font-size: 2rem;
  }
}


.heading-tertiary {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  color: #007a69;
  display: inline-block;
  position: relative;
}

.heading-tertiary::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100%;
}

@media (hover: hover) {
  .heading-tertiary:hover::after {
    transform: scaleX(1);
    transform-origin: 0;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-mid {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-mid {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.paragraph {
  line-height: 2;
  color: #656565;
}

.icon-box {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  color: white;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  border-radius: 0 5px 5px 0;
  /* background-color: #0066FF; */
  background-color: #686868;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 0px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  top: 95%;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border: 1px solid #549ef2;
  z-index: 1000;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem;
  color: black;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
}